blanco = #FFF
gris_light = #FAFAFA
azul = #0EBECC
azul_dark = #4C6A8D
azul_medium = #00A2E6
rosa = #F8555E
fusia = #EB0F3E
fusia_light = #FF0F3E
rosa_dark = #AB0B2D

body
	background gris_light
	font-family 'Roboto', sans-serif

.actual-tab
	background #333

.borde
	border 2px solid red

.post-container
	.new
		margin-bottom 1em
		.autor
			margin 0
			width 15% 
			img
				border-radius 50%
				height 80px
				width 80px
			
		.content
			background blanco
			border 1px solid #f0f0f0
			border-bottom 2px solid azul
			position relative
			width 100%
			.description
				padding .1em
				margin 1em auto
				width 95%
			
			.options
				width 100%
				a
					font-size 2em
					text-decoration none
				.comments
					color azul
					margin-left 0.5em
				.love-it
					color rosa
					margin 0 1em
				.views
					color azul
				span
					color #ccc
					font-size .4em
					position relative
					top -5px
					
						
			.timesince
				color gray
				text-align right
				width 98%
					
			.user-actions
				background black
				color white
				padding 0.5em
				text-align center
				a
					color white
					text-decoration none
		
.down-header
	margin-bottom 2em
	overflow hidden
	
	.profile-info
		position relative
		text-align center
		width 20%
		
		h3
			text-transform capitalize
		
		.photo
			border 4px solid azul_dark
			border-radius 50%
			margin 1em
			height 200px
			width 200px
			
			
.left
	float left

.navigation
	background black
	color white
	width 100%
	
	.logo
		img
			margin-top .5em
			height 3em
			width 3em

	.search
		border-bottom 2px solid rosa
		position relative
		top -.3em
		overflow hidden
		
	.tabs
		list-style none
		height 3em
		margin 0.5em
		position relative
		li
			border 0
			display inline-block
			padding 1em 2em
			
			&:hover
				border-top 0.4em solid fusia
				cursor pointer

				
		.actual
			border-top 0.4em solid fusia				
	
.right
	float right
	

@media screen and (max-width 768px)
	.down-header 
		.profile-info
			width 30%
	
	.navigation
		.search-logo
			display none

@media screen and (max-width 600px)
	.navigation
		margin-bottom 2em

@media screen and (max-width 480px)
	.container
		.new
			display inline-block
			margin-bottom 1em
			overflow hidden
			width 100%
			.autor
				display none
				
			.content
				margin 0 1em
				position relative
				width 95%
				.description
					margin 1em	 auto
					width 95%
				
				.options
					width 100%
						
					&:before
						content none
	
	.down-header
		.profile-info
			display none
		.publish
			width 98%
			.publish-button 
				font-size 1.2em
		.quote
			display none
	.navigation
		margin-bottom 2em
			
	
