rosa = #E6344A
rosa_dark = #C92E41
rosa_light = #F35E75
azul = #04779B
azul_dark = #0B5379
verde = #2FCC00

body,html 
	background white
	font-family 'Roboto',sans-serif
	perspective 1px
	transform-style preserve-3d
	overflow hidden
	
.btn-next
	position absolute
	top 1em
	right 2em
		
.left
	float left
	
.right
	float right

.welcome
	background  url(/images/share.jpg) no-repeat center center fixed 
	background-size cover
	box-shadow inset 0 -7px 7px -7px rgba(0,0,0,0.7)
	box-sizing border-box
	transform-style inherit	
	width 100%
	
	.layer 
		background-color rgba(0, 0, 0,.5)
		color white
		min-height 100vh
		padding 25vh 10%
		text-align center
		text-transform capitalize
		
		.profile-photo
			margin-top 5em
			.dropzone
				background rgba(0,0,0,.7) url(../images/upload.png) no-repeat 95% center
				background-size 20%
				border 2px dotted gray
				color white
				margin 0 auto
				width 70%
		
	
		h1
			color rosa
			font-size 7em
			font-family 'League Gotic'
			text-align center
			text-shadow 0 5px 5px #555
			
			

@media screen and (max-width 992px)
	.welcome	
		.layer 
			.profile-photo
				margin-top 5em
				.dropzone
					background rgba(0,0,0,.7) url(../images/upload.png) no-repeat 95% center
					background-size 15%
					width 100%
			
		
			h1
				font-size 2.5em
				font-family 'Roboto'
				text-transform capitalize
				
				
			