{% extends "layout.html" %}

{% block title %}
    Chat
{% endblock title %}

{% block stylesheets %}
    {% parent %}
    <link rel="stylesheet" href="css/chat.css">
    <link rel="stylesheet" href="css/home.css">
{% endblock stylesheets %}

{% block content %}
    {% include "navigation.html" %}
	
    <div class="row chat-container">
		<input class="hide-on-large-only" type="checkbox" id="drawer-toggle" name="drawer-toggle"/>
	  	<label class="hide-on-large-only" for="drawer-toggle" id="drawer-toggle-label"></label>  
    	<div class="connected">  	      	
    		<ul class="collection drawer" >

    		  <li class="collection-item avatar">
    		    <img src="images/logo.png" alt="" class="circle">
    		    <span class="title">Title</span>
    		    <p>First Line <br>
    		       Second Line
    		    </p>
    		    <a href="#!" class="secondary-content"><i class="mdi-action-grade"></i></a>
    		  </li>
    		  <li class="collection-item avatar">
    		    <i class="mdi-file-folder circle"></i>
    		    <span class="title">Title</span>
    		    <p>First Line <br>
    		       Second Line
    		    </p>
    		    <a href="#!" class="secondary-content"><i class="mdi-action-grade"></i></a>
    		  </li>
    		  <li class="collection-item avatar">
    		    <i class="mdi-action-assessment circle green"></i>
    		    <span class="title">Title</span>
    		    <p>First Line <br>
    		       Second Line
    		    </p>
    		    <a href="#!" class="secondary-content"><i class="mdi-action-grade"></i></a>
    		  </li>
    		  <li class="collection-item avatar">
    		    <i class="mdi-av-play-arrow circle red"></i>
    		    <span class="title">Title</span>
    		    <p>First Line <br>
    		       Second Line
    		    </p>
    		    <a href="#!" class="secondary-content"><i class="mdi-action-grade"></i></a>
    		  </li>
    		  <li class="collection-item avatar">
    		    <img src="images/logo.png" alt="" class="circle">
    		    <span class="title">Title</span>
    		    <p>First Line <br>
    		       Second Line
    		    </p>
    		    <a href="#!" class="secondary-content"><i class="mdi-action-grade"></i></a>
    		  </li>
    		  <li class="collection-item avatar">
    		    <i class="mdi-file-folder circle"></i>
    		    <span class="title">Title</span>
    		    <p>First Line <br>
    		       Second Line
    		    </p>
    		    <a href="#!" class="secondary-content"><i class="mdi-action-grade"></i></a>
    		  </li>
    		  <li class="collection-item avatar">
    		    <i class="mdi-action-assessment circle green"></i>
    		    <span class="title">Title</span>
    		    <p>First Line <br>
    		       Second Line
    		    </p>
    		    <a href="#!" class="secondary-content"><i class="mdi-action-grade"></i></a>
    		  </li>
    		  <li class="collection-item avatar">
    		    <i class="mdi-av-play-arrow circle red"></i>
    		    <span class="title">Title</span>
    		    <p>First Line <br>
    		       Second Line
    		    </p>
    		    <a href="#!" class="secondary-content"><i class="mdi-action-grade"></i></a>
    		  </li>
    		</ul>
    		          
    	</div>
    	<div class="chat-panel" >
    		<div class="messages">
    			<div class="message-item">
    				<img class="user-photo circle" src="{{user.photo}}" alt="">
    				<span class="message">Look, just because I don't be givin' no man a foot massage don't make it right for Marsellus to throw Antwone into a glass motherfuckin' house, fuckin' up the way the nigger talks. Motherfucker do that shit to me, he better paralyze my ass, 'cause I'll kill the motherfucker, know what I'm sayin'?</span>
    			</div>
    			<div class="message-item">
    				<img class="user-photo circle" src="{{user.photo}}" alt="">
    				<span class="message">Look, just because I don't be givin' no man a foot massage don't make it right for Marsellus to throw Antwone into a glass motherfuckin' house, fuckin' up the way the nigger talks. Motherfucker do that shit to me, he better paralyze my ass, 'cause I'll kill the motherfucker, know what I'm sayin'?</span>
    			</div>
    			<div class="message-item">
    				<img class="user-photo circle" src="{{user.photo}}" alt="">
    				<span class="message">Look, just because I don't be givin' no man a foot massage don't make it right for Marsellus to throw Antwone into a glass motherfuckin' house, fuckin' up the way the nigger talks. Motherfucker do that shit to me, he better paralyze my ass, 'cause I'll kill the motherfucker, know what I'm sayin'?</span>
    			</div>
    			<div class="message-item">
    				<img class="user-photo circle" src="{{user.photo}}" alt="">
    				<span class="message">Look, just because I don't be givin' no man a foot massage don't make it right for Marsellus to throw Antwone into a glass motherfuckin' house, fuckin' up the way the nigger talks. Motherfucker do that shit to me, he better paralyze my ass, 'cause I'll kill the motherfucker, know what I'm sayin'?</span>
    			</div>
    			<div class="message-item">
    				<img class="user-photo circle" src="{{user.photo}}" alt="">
    				<span class="message">Look, just because I don't be givin' no man a foot massage don't make it right for Marsellus to throw Antwone into a glass motherfuckin' house, fuckin' up the way the nigger talks. Motherfucker do that shit to me, he better paralyze my ass, 'cause I'll kill the motherfucker, know what I'm sayin'?</span>
    			</div>
    			<div class="message-item">
    				<img class="user-photo circle" src="{{user.photo}}" alt="">
    				<span class="message">Look, just because I don't be givin' no man a foot massage don't make it right for Marsellus to throw Antwone into a glass motherfuckin' house, fuckin' up the way the nigger talks. Motherfucker do that shit to me, he better paralyze my ass, 'cause I'll kill the motherfucker, know what I'm sayin'?</span>
    			</div>
    		</div>
    		<div class="input-field writter ">
    		  <i class="mdi-editor-mode-edit prefix"></i>
    		  <textarea id="icon_prefix2" class="materialize-textarea"></textarea>
    		  <label for="icon_prefix2">¿Tienes algo que compartir?</label>
    		</div>
    	</div>
    </div>
{% endblock content %}