{% extends "layout.html" %}

{% block title %}{{user.name}}{% endblock title %}

{% block stylesheets %}
	<link rel="stylesheet" href="css/home.css">
	{% parent %}		
{% endblock stylesheets %}	
	
{% block content %}


	{% include "navigation.html" %} 
	 
	 	
	 
	<section class="down-header row">
		<section class="profile-info col l3 m4 hide-on-small-only">
			
			<div class="card">
			   <div class="card-image waves-effect waves-block waves-light">
			     <img class="activator" src="{{user.photo}}">
			   </div>
			   <div class="card-content">
			     <span class="card-title activator grey-text text-darken-4">{{user.name}} <i class="mdi-navigation-more-vert right"></i></span>
			     <p><a href="#">Ver perfil</a></p>
			   </div>
			   <div class="card-reveal">
			     <span class="card-title grey-text text-darken-4">Card Title <i class="mdi-navigation-close right"></i></span>
			     <p>Here is some more information about this product that is only revealed once clicked on.</p>
			   </div>
			 </div>
		</section>
		<section class="col l8 m8">	
			<div class="row">
				<form class="publish-area ">
				  <div class="row">
				    <div class="input-field">
				      <i class="mdi-editor-mode-edit prefix"></i>
				      <textarea id="icon_prefix2" class="materialize-textarea"></textarea>
				      <label for="icon_prefix2">¿Tienes algo que compartir?</label>
				    </div>
				  </div>
				</form>				
			</div>

		  <section class="post-container row">
		  	<div class="new col l12 m8 s12 ">
		  		<div class="content left">
		  			<div class="user-actions">
		  				<a href="">{{user.username}}</a>
		  			</div>
		  			<p class="description">You think water moves fast? You should see ice. It moves like it has a mind. Like it knows it killed the world once and got a taste for murder. After the avalanche, it took us a week to climb out.</p>
		  			
		  			<div class="options right card-action">
		  				<a href="#" class="comments left"><i class="mdi-communication-comment"></i> <span>0</span></a>
		  				<a href="#" class="love-it left"><i class="mdi-action-favorite-outline"> <span>3</span></i></a>
		  				<a href="#" class="views left"><i class="mdi-action-visibility"></i> <span>7</span></a>
		  				<p class="timesince">hace 3 dias</p>
		  				
		  			</div>
		  		</div>

		  	</div>
		  	<div class="new col l12 m8 s12">
		  		<div class="content left">
		  			<div class="user-actions">
		  				<a href="">{{user.username}}</a>
		  			</div>
		  			<p class="description">You think water moves fast? You should see ice. It moves like it has a mind. Like it knows it killed the world once and got a taste for murder. After the avalanche, it took us a week to climb out.</p>
		  			
		  			<div class="options right card-action">
		  				<a href="#" class="comments left"><i class="mdi-communication-comment"></i> <span>0</span></a>
		  				<a href="#" class="love-it left"><i class="mdi-action-favorite-outline"> <span>3</span></i></a>
		  				<a href="#" class="views left"><i class="mdi-action-visibility"></i> <span>7</span></a>
		  				<p class="timesince">hace 3 dias</p>
		  				
		  			</div>
		  		</div>

		  	</div>
		  	<div class="new col l12 m8 s12">
		  		<div class="content left">
		  			<div class="user-actions">
		  				<a href="">{{user.username}}</a>
		  			</div>
		  			<p class="description">You think water moves fast? You should see ice. It moves like it has a mind. Like it knows it killed the world once and got a taste for murder. After the avalanche, it took us a week to climb out.</p>
		  			
		  			<div class="options right card-action">
		  				<a href="#" class="comments left"><i class="mdi-communication-comment"></i> <span>0</span></a>
		  				<a href="#" class="love-it left"><i class="mdi-action-favorite-outline"> <span>3</span></i></a>
		  				<a href="#" class="views left"><i class="mdi-action-visibility"></i> <span>7</span></a>
		  				<p class="timesince">hace 3 dias</p>
		  				
		  			</div>
		  		</div>

		  	</div>

		  </section>

		</section>
	</section>

	

	
{% endblock content %}
	