
	<div>
	  <nav class="navigation">
	    <div class="row">
	      <a href="/home" class="logo col l2 hide-on-med-and-down"><img src="images/logo.png" alt=""></a>
	      <ul class="right col s11 l10 m11 offset-s1 offset-m1">
	      	<li class="hide-on-small-only col l8 m6 search">				    
	      		<div class="input-field">
				      <i class="mdi-action-search prefix"></i>
				      <input type="text" class="fuck search-control validate">
				</div>
			</li>
	        <li><a class="actual-tab" href="sass.html">Mensajes</a></li>
	        <li><a href="/chat">Chat</a></li>
	        <li><a href="">Intereses</a></li>
	        <li><a href="">Video</a></li>
	        <li><a href="">Perfil</a></li>
	        <li class="hide-on-large-only hide-on-med-only"><a href="">Buscar</a></li>
	      </ul>
	    </div>
	  </nav>
	</div>
