{% extends "layout.html" %}

{% block title %}Te damos la bienvenida!{% endblock title %}
	
{% block stylesheets %}
	<link rel="stylesheet" href="css/welcome.css">
	<link rel="stylesheet" href="css/dropzone.css">
	{% parent %}

{% endblock stylesheets %}

{% block content %}
	<section class="welcome">
		<div class="layer">
			<h1>Bienvenido a Sherry</h1>
			<div class="profile-photo">
				<div id="my-awesome-dropzone" action="/upload-photo" class="dropzone"></div>
			</div>
		</div>

	</section>


{% endblock content %}
{% block javascript %}
	{% parent %}
	<script src="js/dropzone.js"></script>
	
{% endblock javascript %}
	